<div class="basics">
	<section class="row basics">
		<div class="large-4 columns">
			<a href="#vision"><%= image_tag 'vision.jpg', :class => 'circle' %></a>
			<h4>Vision</h4>
		</div>
		<div class="large-4 columns">
			<a href="#values"><%= image_tag 'disciples.jpg', :class => 'circle' %></a>
			<h4>Values</h4>
		</div>
		<div class="large-4 columns">
			<a href="#beliefs"><%= image_tag 'beliefs.jpg', :class => 'circle' %></a>
			<h4>Beliefs</h4>
		</div>
	</section>
</div>