<div class="basics">
	<section class="row basics">
		<div class="large-4 columns">
			<img class="circle" src="http://placekitten.com/125/125" />
			<h4>Jesus</h4>
			<p>We follow Jesus<br /> and his teachings.</p>
		</div>
		<div class="large-4 columns">
			<img class="circle" src="http://placekitten.com/125/125" />
			<h4>Disciples</h4>
			<p>We make disciples<br /> who make disciples.</p>
		</div>
		<div class="large-4 columns">
			<img class="circle" src="http://placekitten.com/125/125" />
			<h4>City</h4>
			<p>Jacksonville is our<br /> mission field.</p>
		</div>
	</section>
</div>