<div data-stellar-background-ratio=".75" id="beliefs" class="belief">
	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<h2 class="title centered-title">Beliefs</h2>
			<p class="copy centered-copy">
				The District Church believes in the authority of Christian scriptures for our life and practices. We affirm and hold to the essential orthodox Christian beliefs found and affirmed in the Apostle's Creed, The Nicene Creed, as well as the Evangelical Statement of Faith.<br/>
				<a href="http://db.tt/SfKQPAjb">Read our full doctrinal statement</a>.
			</p>
		</div>
	</div>
</div>