<div id="community">
	<div class="row">
		<div class="large-8 large-offset-2 columns">
			<span class="centered-title big">Community Groups</span>
		</div>
	</div>
	<div class="row dark">
		<div class="large-6 columns">
			<!-- <span class="centered-title">Community Groups</span><br/><br/> -->
			<p class="copy">Community Groups aren't built around an event to attend weekly, but designed for gospel centered communities where people become a family, missionaries together, and do life and mission with.</p>
		</div>
		<div class="large-6 columns">
			<!-- <span class="title small">West Riverside Elementary</span><br/><br/> -->
			<p class="copy special">Our Community Groups operate in rhythms that gather to study scripture, pray, share meals, serve the city together, gather for monthly meals, happy hours, and seek the good of the city together.</p>
		</div>
	</div>
	<div class="row">
		<div class="large-10 large-offset-1 columns">
			<p class="centered-copy">Community Groups are in the process of development right now. We hope to launch Community Groups late summer or fall of this year. If you are interested in leading or launching a Community Group; let us know by email <a href="mailto:info@thedistrictchurch.com">info@thedistrictchurch.com</a>.</p>
		</div>
	</div>
</div>