<footer>
	<div class="row">
		<div class="large-4 columns">
			<p class="copy" style="text-align: center;">
				2165 Park Street
			</p>
		</div>
		<div class="large-4 columns">
			<p class="copy" style="text-align: center;">
				Jacksonville, Florida 32204
			</p>
		</div>
		<div class="large-4 columns">
			<p class="copy" style="text-align: center;">
				Join us on Sundays at 10:30am
			</p>
			<!-- <span class="facebook"></span>
			<span class="instagram"></span>
			<span class="twitter"></span> -->
		</div>
	</div>
</footer>