<footer>
	<div class="row">
		<div class="large-6 columns">
			<p class="copy" style="text-align: center;">
				2165 Park Street<br/>
				Jacksonville, Florida 32204<br/>
				<strong>Join us on Sundays at 10:30am</strong> ~ <a href="https://maps.google.com/maps?client=safari&oe=UTF-8&q=2165+park+street+jacksonville+fl&ie=UTF8&hq=&hnear=2165+Park+St,+Jacksonville,+Duval,+Florida+32204&gl=us&t=m&ll=30.31332,-81.684809&spn=0.013337,0.020685&z=14&iwloc=A&source=embed">Map</a>
			</p>
		</div>
		<div class="large-6 columns">
			<p class="copy" style="text-align: center;">
				<a href="mailto:info@thedistrictchurch.com">info@thedistrictchurch.com</a></br>
				(904) 351-8036<br/>

			</p>
		</div>
		<!-- <div class="large-4 columns">
			<p class="copy" style="text-align: center;">
				
			</p>
			<span class="facebook"></span>
			<span class="instagram"></span>
			<span class="twitter"></span>
		</div> -->
	</div>
</footer>