<footer>
	<div class="row">
		<div class="large-4 columns">
			<address class="copy">
				2165 Park Street<br/>
				Jacksonville, Florida 32204
			</address>
		</div>
		<div class="large-4 columns">
			<p class="copy">
				Join us on Sundays at 10:30am
			</p>
		</div>
		<div class="large-4 columns">
			<span class="facebook"></span>
			<span class="instagram"></span>
			<span class="twitter"></span>