<div data-stellar-background-ratio=".75" id="giving" class="give">
	<div class="row">
		<div class="large-8 large-offset-2 columns">
			<h2 class="title centered-title">Giving</h2>
			<p class="copy centered-copy">One of our core values is to lead the way in generosity. We want to be a church that gives generously and supports the ministries of the church sufficiency.</p>
		</div>
	</div>
	<div class="row light">
		<div class="large-6 columns">
			<h2 class="title small">Online</h2>
			<p class="copy">
				We use a secure giving platform called Church Community Builder, which is used by thousands of churches to manage online giving. You can give online with a credit card or via a bank transfer. (Giving directly from a bank account saves The District Church the cost of credit card processing fees.)<br/>
				<a target="_blank" href="http://district.ccbchurch.com">Create your giving account and start giving here</a>. Once you're there, you can give a one-time gift by clicking the "Give Online" link in the top right corner or you can setup automatic recurring giving by following the sign up process.
			</p>
		</div>
		<div class="large-6 columns">
			<h2 class="title small">By mail</h2>
			<p class="copy giving-first">You can mail a check made payable to The District Church to: <em>1650-302 Margaret St #126 Jacksonville, FL 32204</em></p>
			<h2 class="title small">In person</h2>
			<p class="copy">You can give during our worship gatherings by cash or check. We provide offering envelopes every week.</p>
		</div>
	</div>
</div>