<nav class="row">
	<div class="large-2 columns">
		<%= image_tag('logoTitleSmall.png') %>
	</div>
	<div class="large-10 columns nav">
		<ul>
			<li>I'm new</li>
			<li>Sundays</li>
			<li>Serve the City</li>
			<li>Community Groups</li>
			<li>Giving</li>
			<li>Blog &rarr;</li>
		</ul>
	</div>
</nav>

<div class="clear"></div>
<div class="subheader">
	<div class="subtitle">
		<span class="subtext">The District Church exists to make disciples</span><br/><br/>
		<span class="subtext">by interrupting people's lives with love</span><br/><br/>
		<span class="subtext">because the Gospel changes everything.</span>
	</div>
</div>