<nav class="row">
	<div class="large-2 columns">
		<%= image_tag('logoTitleSmall.png') %>
	</div>
	<div class="large-10 columns nav">
		<ul>
			<li>I'm new</li>
			<li>Sundays</li>
			<li>Serve the City</li>
			<li>Community Groups</li>
			<li>Giving</li>
			<li>Blog &rarr;</li>
		</ul>
	</div>
</nav>

<!-- <%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %> -->
