<div id="new">
	<div class="row">
		<div class="large-6 columns">
			<span class="title">New here?</span><br/><br/>
			<p class="copy">We understand that exploring the person of Jesus or visiting a new church for the first time can be an intimidating and uncomfortable experience. If you have any questions, we're here to answer them for you. Just ask: <a href="mailto:info@thedistrictchurch.com">info@thedistrictchurch.com</a>.</p>
		</div>
		<div class="large-6 columns">
			<span class="title">Our story so far</span><br/><br/>
			<p class="copy">We started The District Church in September of 2012 in a living room with 12 people as a core team of people that prayed, planned, and built the foundation of our church. On Easter of 2013, we launched our first public worship gathering and have now grown to about 65 people in attendance in the weekends.</p>
		</div>
	</div>
</div>