<div data-stellar-background-ratio=".75" id="new" class="im-new">
	<div class="row new-here">
		<div class="large-6 columns">
			<h2 class="title">New here?</h2>
			<p class="copy">We understand that exploring the person of Jesus or visiting a new church for the first time can be an intimidating and uncomfortable experience. If you have any questions, we're here to answer them for you. Just ask: <a href="mailto:info@thedistrictchurch.com">info@thedistrictchurch.com</a>.</p>
		</div>
		<div class="large-6 columns">
			<h2 class="title">Our story so far</h2>
			<p class="copy">We started The District Church in September of 2012 in a living room with 12 people as a core team of people that prayed, planned, and built the foundation of our church. We launched our first public worship gathering on Easter, 2013.</p>
		</div>
	</div>
</div>