<div data-stellar-background-ratio=".75" id="serve" class="serve-the-city">
	<div class="row">
		<div class="large-8 large-offset-2 columns">
			<h2 class="centered-title">Serve the City</h2>
			<p class="centered-copy">We are convinced that the city ought to be a better place to live because of the church. As a church we are committed to seeking the good of the city by serving the greatest needs. We currently partner with the following organizations:</p>
		</div>
	</div>
	<div class="row light">
		<div class="large-6 columns">
			<h2 class="title">Rethreaded</h2>
			<p class="copy">We provide financial and volunteer support to Rethreaded which is aimed at making a difference in the lives of women affected by the sex trade industry.</p>
		</div>
		<div class="large-6 columns">
			<h2 class="title small">West Riverside Elementary</h2>
			<p class="copy special">We provide volunteer support for the 1st Grade ESOL Program. Our goal is to help serve the teachers and students by giving our time and talent to better the education of their students.</p>
		</div>
	</div>
</div>