<div id="sundays" class="sunday">
	<div class="row">
		<div class="large-6 columns">
			<h2 class="title">Sundays</h2>
			<p class="copy">10:30am | <a href="#" data-reveal-id="mapModal">2165 Park St.</a><br/><br/>Our gatherings take place in Riverside, which is just west of downtown Jacksonville. We currently meet in The Jr. League building, two blocks west of historic Five Points.<br/> <br/>
			We also, invite you to come early or stay a few minutes late to meet some new people or grab lunch in the neighborhood.</p>
		</div>
		<div class="large-6 columns">
			<h2 class="title">What to expect</h2>
			<p class="copy">On Sundays, we gather collectively as a church to worship Jesus and for discipleship by hearing about Jesus from the bible, worshipping Jesus through song and giving, and serving one another through community and prayer.</p>
			<h2 class="title">For the kids</h2>
			<p class="copy">We provide a safe, fun place for children from 0 to 4 years old. They'll play a little, have a little snack, and learn about the Bible.</p>
		</div>
	</div>
	<!-- <div id="mapModal" class="reveal-modal large">
		<iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=2165+Park+St.&amp;hl=en&amp;sll=27.698638,-83.804601&amp;sspn=13.284823,18.69873&amp;hnear=2165+Park+St,+Jacksonville,+Duval,+Florida+32204&amp;t=m&amp;ie=UTF8&amp;hq=&amp;z=14&amp;ll=30.313386,-81.684659&amp;output=embed"></iframe>
	</div> -->
</div>