<div id="sundays">
	<div class="row">
		<div class="large-6 columns">
			<%= image_tag 'map.jpg' %>
			<h2>Join us on Sunday</h2>
			<p class="meeting">10:30am | 2165 Park St.</p>
			<p>Our gatherings take place in Riverside, which is just west of downtown Jacksonville. We currently meet in The Jr. League building, two blocks west of historic Five Points.</p>
		</div>
		<div class="large-6 columns">
			<h2>What to expect</h2>
			<p>On Sundays, we gather collectively as a church to worship Jesus and for discipleship by hearing about Jesus from the bible, worshipping Jesus through song and giving, and serving one another through community and prayer.</p>
			<h2>For the kids</h2>
			<p>We provide a safe, fun place for children from 0 to 4 years old. They'll play a little, have a little snack, and learn about the Bible. <em>(Don't forget to ask them about what they learned.)</em></p>
		</div>
	</div>
</div>