<div id="values">
	<div class="row">
		<div class="large-8 large-offset-2 columns">
			<h2 class="centered-title big">Values</h2>
		</div>
	</div>
	<div class="row dark">
		<div class="large-3 columns">
			<p class="copy">
				<strong>Everything is about Jesus:</strong><br/>
				The focus of every ministry is to point people to Jesus.
			</p>
		</div>
		<div class="large-3 columns">
			<p class="copy">
				<strong>Less about me, more about you:</strong><br/>
				We create environments of hospitality and honor.
			</p>
		</div>
		<div class="large-3 columns">
			<p class="copy">
				<strong>We lead the way in generosity:</strong><br/>
				We sacrificially support the work of God in our city.
			</p>
		</div>
		<div class="large-3 columns">
			<p class="copy">
				<strong>Make the city a better place:</strong><br/>
				By serving the people of our city and living out the Gospel in our family, work, and neighborhoods.
			</p>
		</div>
	</div>
	<div class="row dark">
		<div class="large-4 columns">
			<p class="copy">
				<strong>We are better together:</strong><br/>
				By doing life in community with others.
			</p>
		</div>
		<div class="large-4 columns">
			<p class="copy">
				<strong>Find your sweet spot:</strong><br/>
				Leading in our strengths and gifts.
			</p>
		</div>
		<div class="large-4 columns">
			<p class="copy">
				<strong>Leaders lead Leaders:</strong><br/>
				Everything rises and falls on leadership.
			</p>
		</div>
</div>