<div id="vision">
	<div class="row">
		<div class="large-6 columns">
			<h2 class="title">Vision</h2>
			<p class="copy">We believe that the death, burial and resurrection is truly good news. That Jesus came to save people from their sin. So our mission as a church is to join Jesus with his mission of pursuing those who are far from him.</p>
		</div>
		<div class="large-6 columns">
			<p class="copy">Our primary goal is to be a church that makes disciples that make disciples. We have intentional made our strategy slim in order to be effective in what Jesus has called us to do. We focus on doing the following five things:
			</p>
			<ul class="copy">
				<li>Sunday Gatherings</li>
				<li>Community Groups</li>
				<li>Serving The City</li>
				<li>Develop Leaders</li>
				<li>Plant Churches</li>
			</ul>
		</div>
	</div>
</div>