<div id="vision">
	<div class="row">
		<div class="large-12 columns">
			<h2 class="title" style="text-align: center;">Vision</h2>
			<p class="copy" style="text-align: center;">Our Vision and Mission is to make disciples. We want to be a church where every person of Jacksonville hears the good news of Jesus. Over the next ten years we want to plant ten churches in Jacksonville and around the world. </p>
		</div>
		<!-- <div class="large-6 columns">
			<p class="copy">Our primary goal is to be a church that makes disciples that make disciples. We have intentional made our strategy slim in order to be effective in what Jesus has called us to do. We focus on doing the following five things:
			</p>
			<ul class="copy">
				<li>Sunday Gatherings</li>
				<li>Community Groups</li>
				<li>Serving The City</li>
				<li>Develop Leaders</li>
				<li>Plant Churches</li>
			</ul>
		</div> -->
	</div>
</div>