<div class="nav">
	<a id="subheader" href="#"><%= image_tag 'logo.png', :class => 'logo' %></a>
	<!-- <a href="#">Blog</a> -->
	<a id="give" href="#">Giving</a>
	<a id="comm" href="#">Groups</a>
	<a id="serve-the-city" href="#">Serve</a>
	<a id="sunday" href="#">Sundays</a>
	<a id="im-new" href="#">I'm new</a>
</div>

<div class="clear"></div>
<div data-stellar-background-ratio=".75" class="subheader">
	<div class="subtitle">
		<span class="subtext"><strong>The District Church</strong></span><br/><br/>
		<span class="subtext">exists to make disciples</span><br/><br/>
		<span class="subtext">by interrupting people's lives with love</span><br/><br/>
		<span class="subtext">because the Gospel changes everything.</span>
	</div>
</div>