@import 'variables';

.basics {
	background-color: rgba(249,249,249,1);
	width: 100%;
}
.basics {
	text-align: center;
	padding: 40px 0;
	h4 {
		margin-top: 20px;
	}
	img:hover {
		box-shadow: 0px 0px 5px #676767;
		cursor: pointer;
	}
	
}
.clear {
	clear: both;
}

.circle {
	width: 125px;
	border-radius: 62.5px;
}



.subheader {
	background: white url(/assets/top-bg.jpg) top center no-repeat;
		-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 550px;
	margin: 0;
	.first {

	}
	.subtitle {
		text-align: center;
		padding-top: 200px;
		.subtext {
			font-family: $sans;
			font-size: 140%;
			color: black;
			background: rgba(250, 250, 250, 0.88);
			padding: 10px;
			margin: 3px 0;
		}
	}
}

#new {
	padding: 200px 0;
	background: white url(/assets/crowd-color.jpg) top center no-repeat;
		-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  .title, .copy {
  	background: rgba(250, 250, 250, 0.88);
  }
  h2 {margin-bottom:2px;}
}

#serve {
	padding: 200px 0;
	background: white url(/assets/serve-big.jpg) top center no-repeat;
		-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  .title, .copy, .centered-title, .centered-copy {
  	background: rgba(250, 250, 250, 0.88);
  }
  h2 { 
  	margin-bottom: 2px;
  	margin-top: 0;
  }
}

#giving {
	padding: 200px 0;
	background: white url(/assets/giving.jpg) top center no-repeat;
		-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  .title, .copy {
  	background: rgba(250, 250, 250, 0.88);
  }
  .giving-first{
  	margin-bottom: 13px;
  }
  .copy {
  	margin-top: 0px;
  	margin-bottom: 0px;
  }
  .centered-copy {
  	margin-top: 0;
  }
  .centered-title {
  	margin-bottom: 0;
  }
  h2 {
  	margin: 0 !important;
  }
}

#beliefs {
	padding: 200px 0;
	background: white url(/assets/group.jpg) top center no-repeat;
		-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  .title, .copy {
  	background: rgba(250, 250, 250, 0.88);
  }

}

.light {
	background: rgba(250, 250, 250, 0.88);
	.copy, .title {
		background: rgba(250,250,250, 0) !important;
	}
}

#sundays, #community, #vision, #values {
	background-color: white;
	padding: 200px 0;
	img {
		width: 450px;
	}
	h2 { margin-top: 0px !important; }
	.title, .copy {
		color: white;
		background: rgba(0,0,0, 0.88);
		margin: 0;
		a {
			color: white;
		}
	}

	.dark {
		background: rgba(0,0,0, 0.88);
		.copy {
			background: rgba(250,250,250, 0);
			margin: 0;
		}
	}

	.centered-title, .centered-copy {
		color: white;
		background: rgba(0,0,0, 0.88);
	}
	.centered-copy {
		margin-top: 0px;
		a { color: white; }
	}
	.centered-title {
		padding-bottom: 20px;
		margin-bottom: 0;
	}
}

#community .copy {
	margin-top: -2px;
}

#vision ul li {
	display: block;
	list-style-type: square;
	text-align: center;
}

.title {
	font-family: $sans;
	color: black;
	font-size: 46px;
	font-weight: 900;
	padding: 10px 20px 10px;
	margin: 3px 0;
}
.copy, .centered-copy {
	font-family: $sans;
	color: black;
	font-size: 16px;
	font-weight: 400;
	padding: 10px;
	margin-top: -2px;
	line-height: 30px;
}

.centered-title {
	text-align: center;
	display: block;
	font-family: $sans;
	color: black;
	font-size: 46px;
	font-weight: 900;
	padding: 10px;
	margin: 2px auto;
}

.small {
	font-size: 30px;
	margin-bottom: 4px !important;
}


.special {
	margin-top: -4px;
}

.centered-copy {
	margin-bottom: 0px;
	text-align: center;
}

