@import 'variables';
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900|Merriweather:400,400italic,700);

html, body {	
}

a, a:hover {
	color: black;
	text-decoration: underline;
}

.logo {
	width: 100px;
	margin-top: 9px;
}

.nav {
	height: 80px;
	font-family: $sans;
	position: absolute;
	background-color: rgba(250,250,250,.9);
	width: 100%;
	padding: 0 40px;
	z-index: 1000;
	a:not(:first-child) {
		float: right;
		padding-top: 30px;
		text-align: justify;
		font-size: 80%;
		margin: 0 15px;
		cursor: pointer;
		font-family: $sans;
		font-weight: 900;
		text-decoration: none;
	}
}