@import 'variables';
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900|Merriweather:400,400italic,700);

html, body {	
}

a, a:hover {
	color: black;
	text-decoration: underline;
}

nav {
	height: 110px;
	font-family: $sans;
	img {
		width: 100px;
		margin: 15px;
	}
	ul {
		text-align: right;
		padding-top: 43px;
		li {
			display: inline-block;
			font-size: 80%;
			margin: 0 15px;
			cursor: pointer;
			font-family: $sans;
			font-weight: 900;
		}
	}
}