@import 'variables';

html, body {	
}

nav {
	height: 110px;
	img {
		width: 100px;
		margin: 15px;
	}
	ul {
		text-align: right;
		padding-top: 43px;
		li {
			display: inline-block;
			margin: 0 15px;
			cursor: pointer;
		}
	}
}